:root {
    --brand-color: #4D5AE5;
    --brand-color-team: #F4F4FD;
    --pressed-state-color: #404BBF;
    --background-color: #FFFFFF;
    --title-color: #2E2F42;
    --text-color: #434455;
    --footer-text-color:#E7E9FC;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color); font-size: 16px;
    line-height: 1.5;
    background: var(--background-color)}

/*---------LOGO---------*/
.header-logo-web, .footer-logo-web {
    color: var(--brand-color);}
.header-logo-studio {
    color: var(--title-color)}
.footer-logo-studio {
    color: var(--brand-color-team);}
.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/*---------HEDER---------*/
.header {
    background: var(--background-color);}
.header-item {
    font-weight: 500;}
.header-link:is(:hover, :focus) {
    color: var(--pressed-state-color);}
.mail-link:is(:hover, :focus) {
    color: var(--pressed-state-color);}
.tel-link:is(:hover, :focus) {
    color: var(--pressed-state-color);}
/*---------Hiro-Section---------*/
.hiro {
    background: var(--title-color)}
.hiro-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em; 
    color: var(--background-color);}
.hiro-btn {
    cursor: pointer;
    background-color: var(--brand-color); 
    color: var(--background-color);}
.hiro-btn:is(:hover, :focus) {
    background-color: var(--pressed-state-color);}

/*---------Advantages-Section---------*/
.advantages-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}

/*---------Examples-Section---------*/
.examples-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;}

/*---------Team-Section---------*/
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    background: var(--brand-color-team);}
.team-item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}

/*---------Buttons-Section---------*/
.buttons-btn {
    cursor: pointer}

/*---------Buttons-Section---------*/
.projects-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}

/*---------Futer---------*/
.footer {
    background:var(--title-color);}
.footer-logo {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;}
.footer-title { color: var(--footer-text-color);}